* {
  font-family: Inter;
}

form {
  border-radius: 35px;
  background-color: #f8f8f8f8;
  padding: 25px;
  box-shadow: 0 0px 80px rgba(206, 206, 206, 0.962);
  
  width: 100%;
  max-width: 500px;
  height: fit-content;
  min-height: fit-content;
  
  display: flex;
  flex-direction: column;
}

h1 {
  align-self: center;
  display: flex;
}

input[type=password], input[type=email], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fafafa;
  border-radius: 25px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #1582ef;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
}

input[type=submit]:hover {
  background-color: #0771dc;
}

/* Style the navigation bar to make it at the tope of page*/
body {
  margin: 0;
  padding: 0;
}

/* to make the list of links horizantal*/
ul li {
  float: left;
}

/* to make the text apear in a good sixe and white*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #0d2b4b;
}

.horizontally-centered-container {
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: auto; 
    margin-right: auto; 
}

.form-container {
    /* padding: 5px; */
    width: 100%;
    max-width: 500px;
}