* {
  font-family: Inter;
}

h1 {
  align-self: center;
  display: flex;
}

/* to make the list of links horizantal*/
ul li {
  float: left;
}

/* to make the text apear in a good sixe and white*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #0d2b4b;
}